html {
    background-image: url("../images/mainwebpagebackground.png");
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: 'Mali', cursive;
}

body {
    background-color: #f4e4fc;
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

.intro {
    font-size: 32px;
    text-align: center;
    font-style: italic;
    margin: 25px;
    padding: 10px;
}

.img1 {
    display: block;
    width: 13%;
    height: auto;
    margin: 0 auto;
}